.header {
  color: white;
  text-align: center;
  font-family: 'ZCOOL XiaoWei', serif;
}

p.header {
  font-size: 20px;
  background-color: blue;
}

.background {
  background-color: blue;
  background: url("bg.jpg");
}

.posts {
  color: white;
  background-color: #fff;
  background: rgba(46, 51, 56, 0.5)!important;
}

.posts h6 {
  padding-left:2em;
}
